
@{
    ViewBag.Title = "UpdateUserInfo";
    Layout = "~/Views/Shared/_dashboardUser.cshtml";
}

<div class="container Account_info">
    <div class="row">
        <h2>Update info</h2>
    </div>
    <div class="row  justify-content-start">
        <div class="col-md-5">
            <label>name</label>
            <input type="text" id="Name" name="Name" class="form-control" value="" />

        </div>
        <div class="col-md-5">
            <label>phone</label>
            <input type="text" id="Name" name="Name" class="form-control" value="" />

        </div>

    </div>
    <div class="row  justify-content-start">

        <div class="col-md-5">
            <label>email</label>
            <input type="text" id="Name" name="Name" class="form-control" value="" />

        </div>

    </div>

    <br />

    <div class="row  justify-content-start">
        <div class="col-md-5">
            <a class="btn btn-red"> Valider  </a>
        </div>

    </div>
</div>