
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="about">

    <div class="banner">
        <h2>
            A propos
            <br />
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-whatsapp"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
            <a href="#"><i class="bi bi-envelope"></i></a>
        </h2>
       
    </div>


    <br />
    <div class="container">
        <div class="card-item" style="width: 100%;">
            <div class="row justify-content-center">
                <div class="row justify-content-center">

                    <div class="col-md-5 content">
                        <h2>Qui somme nous </h2>
                        <p>
                            CarBooking, leader mondial de la location de voitures,
                            vous propose ses services au Maroc . Nous vous garantissons un large choix de voitures de location et véhicules
                            utilitaires. Mini, citadine, compactes, de prestige, SUV ou 4x4, véhicules diesel ou essence.
                            CarBooking a nécessairement la réponse à votre besoin à des prix pas cher.
                            vivez une expérience agréable avec CarBooking.
                            <br />
                            
                        </p>
                        <a href="~/Home/Contact" class="btn bg-red"> Contactez-Nous </a>
                    </div>
                    <div class="col-md-6 bg-img">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

